<a href="https://colab.research.google.com/github/ANGIECATHERINEP/MujerDigital/blob/main/Clase1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Introduccion**

---
Manejar un código limpio en Python:
1. Manejar siempre minuscula
2. Se puede añadir numero a las variables
3. Aparecera error  si no estan seguidos la declaracion de la variables con el numero asignado en esta (ana1)

En Python hay varios tipos de datos estos datos son compuestos que es tan disponibles por defectos en los interpretes.

**¿De que tipos?**
1. Numericos
2. Secuencias
3. Mapeos
4. conjuntos usados para agrupar otros valores.

**Diferencia entre constantes y variables:**

En matematicas llamamos constante a una magnitud que no cambia con el paso del tiempo
Ejemplo: Contabilidad: Gastos fijos_ Muebles de oficina
Ejemplo: 6

Por otro lado, el concepto de variable, como la cantidad que es suceptible a tomar distintos valores numericos
**Ejemplo:**

In [ ]:
x = 5
print(x)

5

**Tipos de datos**

---
**Enteros:**
- Son los numeros que no tiene decimales
- Pueden ser positivos y negativos

In [ ]:
a = int(3.96)
print(a)

3

El comando int es para hacer alusión a numeros enteros.
A parte el comando float, permite valores decimales.

In [ ]:
b=float(8)
print(b)

8.0

**Tipo cadena**

---

Las cadenas son texto encerrados entre comilllas (simples o dobles) y se pueden conformar de diferentes caracteres (numericos, alfabeticos, especiales #$).
Tener en cuenta, las cadenas admiten operadores como suma y resta (variable String).

In [ ]:
val1="Angie"
print(val1)
val2="Hola mundo"
print(val2)

Angie
Hola mundo

In [ ]:
n = "Aprender"
z ="Python"
nz = n+" "+z
print(nz)
print(n,z)

Aprender Python
Aprender Python

**Tipo Booleano**

---


Es tipo de valor solo tendra un valor verdadero o falso.

**Nota:**Son valores usados en condiciones y bucles

In [ ]:
lola = True
print("El valor es verdadero: ",lola, ", el cual es de tipo", type(lola))

El valor es verdadero:  True , el cual es de tipo <class 'bool'>

Python cuenta con tipo de datos que admite colecciones:
1. Listas
2. Tuplas
3. Diccionarios  

**Tipos de conjuntos:**
Son una coleccion de datos en elementos que se repiten

In [ ]:
fru = 'pera','manzana','naranja'
color = 'morado','blanco','azul'
print(fru,color)

('pera', 'manzana', 'naranja') ('morado', 'blanco', 'azul')

**Tipo listas**

---
Son listas las que almacenan vectores. se utilizan[  ], las listas siempre empiezan a nombrarse desde cero, apartir de alli comienza el conteo.

Ejemplo de listas en Python:

In [ ]:
ines =['5','uva','lila','perro']
print(ines)
fe = ines[0:3:2]
print(fe)
e = ines[0:3]
print(e)
c = ines[3]
print(c)

['5', 'uva', 'lila', 'perro']
['5', 'lila']
['5', 'uva', 'lila']
perro

**Tipo Tuplas**

---
Es una lista que no se puede modificardespues de la creacion de esta

Tuplas anidadas: Agrupación(Tuplas).

In [ ]:
tupla = 23,28,'hello'
print(tupla)
otra =tupla, (1,2,3,4)
print(otra)

(23, 28, 'hello')
((23, 28, 'hello'), (1, 2, 3, 4))

**Tipo Diccionarios**

---
Define los datos uno a uno entre un campo(ID -Identificador clave) y un valor

In [ ]:
datos_b={
    "nombres":"Diana",
    "apellidos":"Perea",
    "cedula":"231478",
    "est_civil":"viuda",
    "lugar_nac":"Neiva",
    "fecha_nac":"24/12/1980"
}
print("ID del diccionario",datos_b.keys())
print("ID del diccionario",datos_b.values())
print("ID del diccionario",datos_b.items())
print ("cedula de ciudadania de Diana",datos_b['cedula'])

ID del diccionario dict_keys(['nombres', 'apellidos', 'cedula', 'est_civil', 'lugar_nac', 'fecha_nac'])
ID del diccionario dict_values(['Diana', 'Perea', '231478', 'viuda', 'Neiva', '24/12/1980'])
ID del diccionario dict_items([('nombres', 'Diana'), ('apellidos', 'Perea'), ('cedula', '231478'), ('est_civil', 'viuda'), ('lugar_nac', 'Neiva'), ('fecha_nac', '24/12/1980')])
cedula de ciudadania de Diana 231478

**Ejemplo practico (caracteristicas de carros)**

In [ ]:
carros_0 ={}
carros_0['tam']='grande'
carros_0['color']='negro'
carros_0['marca']='renault'
carros_0['precio']=60

carros_1 ={}
carros_1['tam']='pequeño'
carros_1['color']='blanco'
carros_1['marca']='chevrolet'
carros_1['precio']=37
print(carros_0)
print(carros_1)

compra0=carros_0['precio']
compra1=carros_1['precio']
compratotal=compra0+compra1
print("la compra total fue ",compratotal)
print("la compra total fue "+str(compratotal))

{'tam': 'grande', 'color': 'negro', 'marca': 'renault', 'precio': 60}
{'tam': 'pequeño', 'color': 'blanco', 'marca': 'chevrolet', 'precio': 37}
la compra total fue  97
la compra total fue 97


---



---
#**TAREA CLASE N°1

---


---

**a. Tipo enteros**

---

1.

In [1]:
t = int(91.25)
print(t)

91

2.

In [2]:
x = float(15.06)
print(x)

15.06

**b. tipo cadena**

---
1.

In [6]:
a = "colombia"
print(a,type(a))

colombia <class 'str'>

2.

In [4]:
q = "medalla"
r = "de oro"
print(q,r)

medalla de oro

**Tipo Boleano**

---
1.

In [7]:
val =False
print("el valor es: ",val)

el valor es:  False

2.

In [8]:
y = True
print("es de tipo",type(y))

es de tipo <class 'bool'>

**Tipo conjuntos**

---
1.

In [11]:
aves = 'aguila','codorniz','pato'
peces = 'pez payaso','pez globo','tiburón'
print(peces,aves)

('pez payaso', 'pez globo', 'tiburón') ('aguila', 'codorniz', 'pato')

2.

In [10]:
par = 2,4,8
impar = 5,9,11
print(par,impar)

(2, 4, 8) (5, 9, 11)

**Tipo listas**

---

In [32]:
ciudad =['Bogotá','Medellin','Ibague','Cartagena','Barranquilla','Leticia']
x = ciudad[0:2]
print(x)
y = ciudad[0:4:2]
print(y)
z = ciudad[5]
print(z)

['Bogotá', 'Medellin']
['Bogotá', 'Ibague']
Leticia

**Tipo duplas**

---

In [34]:
val1 = 'carro','casa',10
val2 =val1,(-5,'avion','barco')
print(val2)

(('carro', 'casa', 10), (-5, 'avion', 'barco'))

**Tipo diccionario**

---

In [36]:
datos_compra={
    "nombre_vendedor":"Javier Fuentes",
    "articulo":"pantalón",
    "valor": 150000,
    "fecha_v":"01/07/2021"
}
print("ID del diccionario",datos_compra.keys())
print("ID del diccionario",datos_compra.items())

ID del diccionario dict_keys(['nombre_vendedor', 'articulo', 'valor', 'fecha_v'])
ID del diccionario dict_items([('nombre_vendedor', 'Javier Fuentes'), ('articulo', 'pantalón'), ('valor', 150000), ('fecha_v', '01/07/2021')])