<a href="https://colab.research.google.com/github/ANGIECATHERINEP/MujerDigital/blob/main/ejercicios_de_repaso.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=0
b=1

for i in range(10):
    total = a + b
    b=a
    a= total
    print(total)

1
1
2
3
5
8
13
21
34
55

In [ ]:
import random #libreria para numeros enteros aleatorios

a= random.randint(0,10)  #escoge los numero del 0 al 10
for i in range(4):
  num= int(input('Ingrese un numero'))
  if num < a:
    print('el numero es mayor')
  elif num>a:
    print('el numero es menor')
  elif num==a:
    print('adivinaste')
    break

Ingrese un numero5
el numero es mayor
Ingrese un numero8
el numero es mayor
Ingrese un numero9
adivinaste

In [ ]:
a=['a','b','c','d']
print(a[0:3])
print(a[1:3])
print(a[1], a[3])
print(a[-1::-1])

['a', 'b', 'c']
['b', 'c']
b d
['d', 'c', 'b', 'a']

In [ ]:
b='hola mundo'
print(b[4:])

 mundo

In [ ]:
b='hola soy sebastian'
print(b[-1::-1])

naitsabes yos aloh

In [ ]:
c='hola soy sebastian'
for i in range(len(c)):
  print(c[-i-1])

n
a
i
t
s
a
b
e
s

y
o
s

a
l
o
h

In [ ]:
c='hola soy sebastian'   #para lista de cada palabra
d=[]
for i in range(len(c)):
  d.append(c[-i-1])
print(d)

['n', 'a', 'i', 't', 's', 'a', 'b', 'e', 's', ' ', 'y', 'o', 's', ' ', 'a', 'l', 'o', 'h']

In [ ]:
c='hola soy sebastian'
e=''
for i in range(len(c)):
  e+=(c[-i-1])  #se coloca el + al lado dee  para que salga en el mismo renglon
  #print(c[-i-1])
print('\n'+e)

naitsabes yos aloh

In [ ]:
a=['a','b','c','d']
c=len(a)

for i in range(c):
    print(a[c-i-1])

d
c
b
a

In [ ]:
a=['a','b','c','d']
c=[]
long=len(a)-1
for i in range(len(a)):
  c.append(a[long])
  long-=1
print(c)

['d', 'c', 'b', 'a']

In [ ]:
def cuadrado(x):
  resultado =x **2
  return resultado
cuadrado(5)

25

In [ ]:
def factorial(num): 
  a=1
  i=2
  while i <= num:
    a *=i 
    i +=1
  return a
factorial(3)

6

In [ ]:
def factorial(num): 
  a=1
  i=2
  while i <= num:
    a =a*i 
    i +=1
  return a
factorial(4)

24

In [ ]:
def factorial(num): 
  fa=1
  for i in range(1, num + 1):
    fa =fa*i 
  return fa

print(factorial(4))

24

In [ ]:
a= bool(14) or bool(-20)
a

True

In [ ]:
x=float(str(int('5' * 4) / 3)[2])
x
print(type(x))

<class 'float'>

In [ ]:
y=float(-int('5') + int('10'))
y

5.0

# **EJERCICIOS PARA REPASO**

---

In [ ]:
#Ingrese su nombre: Perico Hola, Perico
w=input('ingrese su nombre  ')
print('Hola  '+w)

ingrese su nombre  MARIA
Hola  MARIA

In [ ]:
"""Escriba un programa que reciba como entrada el radio de un círculo y entregue como salida su perímetro y su área:
Ingrese el radio: 5
Perimetro: 31.4
Área: 78.5"""

def circulo():
  r=float(input('Ingresa el radio del circulo '))
  i=3.14
  p= 2 *i*r
  a= i*(r**2)
  print('el perimetro del circulo es;  ',p)
  print('el area del circulo es;  ',a)
circulo()

Ingresa el radio del circulo 5
el perimetro del circulo es;   31.400000000000002
el area del circulo es;   78.5

In [158]:
"""Escriba un programa que calcule el promedio de 4 notas ingresadas por el usuario:
Primera nota: 55
Segunda nota: 71
Tercera nota: 46
Cuarta nota: 87
El promedio es: 64.75"""

def notas():
  y=[]
  for i in range(4):
    #t=str(i+1)
    nt=float(input('ingrese la  nota: '))
    y.append((nt))
  return y

"""def vernota(y):
  for x in range(len(y)):
    print(len(y))"""

def promedio(y):
  suma=0
  for x in range(len(y)):
     suma=suma+y[x]
  prom=suma/len(y)
  print("el promedio general del nivel de cumplimiento del area de ventas es:  ",prom)

y=notas()
#vernota(y)
promedio(y)

ingrese la  nota: 5
ingrese la  nota: 6
ingrese la  nota: 3
ingrese la  nota: 2
el promedio general del nivel de cumplimiento del area de ventas es:   4.0

In [162]:
"""Escriba un programa que convierta de centímetros a pulgadas. Una pulgada es igual a 2.54 centímetros.
Ingrese longitud: 45
45 cm = 17.7165 in
Ingrese longitud: 13
13 cm = 5.1181 in"""

q=int(input('ingresa los cm  '))
c=2.54
conversion= q/c
print(conversion,'cm')

ingresa los cm  13
5.118110236220472 cm

In [177]:
"""Escriba un programa que pida al usuario un entero de tres dígitos, y entregue el número con los dígitos en orden inverso:"""
num=input('ingrese un numero entero de tres digitos  ')
inv=''
for i in range(len(num)):
    inv+=num[-i-1]
    
print(inv)

ingrese un numero entero de tres digitos  0123456789
9876543210

In [180]:
"""Escriba un programa que reciba como entrada las longitudes de los dos catetos a y b de un triángulo rectángulo, y que entregue como salida el largo de la hipotenusa c del triangulo"""
import math
a=int(input('Ingresa el 1° cateto '))
b=int(input('Ingresa el 2° cateto '))
c= math.sqrt((a**2)+(b**2))
print('la hipotenusa es : ',c)

Ingresa el 1° cateto 7
Ingresa el 2° cateto 5
la hipotenusa es :  8.602325267042627